.nav-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Aggiunto qui per fondere le due classi duplicate */
    background: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}
.nav-link li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.3rem 0;
    margin: 0 0.4rem;
    white-space: nowrap;
    position: relative;
    border-bottom: 3px solid transparent;
    border-radius: 0.12rem;
    transition: border-bottom 0.3s ease;
}

.nav-link a:hover {
    border-bottom: 3px solid #6b99c3;
}

.nav-link {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    scrollbar-width: none; /* Firefox */

}

.nav-link::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.nav-link li {
    flex-shrink: 0;
}



.nav-link a:hover {
    border-bottom: 3px solid #6b99c3;
    border-radius: 3px 2px 0 0;
}

.nav-highlight {
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

/* ================================
   4. DIVIDERS & TABLET BUTTONS
   ================================ */
.list-divider {
    background-color: #333;
    margin: 0 0.4rem;
}

.list-divider { width: 2px; height: 1.8rem; }

.nav-button span {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 0.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.nav-button img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
}

.div-account {
    display: flex;
    align-items: center;
}

.div-account button {
    background-color: #f1bd39;
    color: #000;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.6em 1.2em;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s;
}

.div-account a {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.div-account img {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.div-account a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.div-account button:hover {
    background-color: #d9a82d;
}

.nav-button:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 768px){
    .nav-button{
        padding: 0.5rem;
    }
    .div-account{
        margin-right:0;
    }
}
