.upper-header {
    display: flex; justify-content: space-between; align-items: center;
    box-sizing: border-box; padding: 0.7rem 1rem; width: 100%;
}

.left-header, .right-header { display: flex; align-items: center; flex: 1; }
.right-header { justify-content: flex-end; }
.center-header { flex: 2; display: flex; justify-content: center; }

.upper-header .nav-button { display: none; }

@media (max-width: 1024px) {
    /* Nasconde intere sezioni */
    .left-header, .right-header .language-switcher { display: none ; }

    /* Logo a sinistra */
    .center-header { flex: 1; justify-content: flex-start; margin-left: 0.5rem; }
    .upper-header .main-logo img { height: 2.2rem; }

    /* Mostra il tasto menu tablet */
    .upper-header .nav-button { display: flex; align-items: center; justify-content: center; }
}

@media (max-width: 768px) {
    .upper-header { padding: 0.7rem 0.5rem; }
    .upper-header .main-logo img { height: 1.8rem; }

}