:root {

}

.main-header {
    background-color: var(--brand-black);
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans), sans-serif;
    width: 100%;
    position: relative;
}

/* Impedisce ai link di sparire diventando blu/viola */
