/* ================================
   MAX 1200px
   ================================ */
@media (max-width: 1400px) {
    .nav-bar {
        justify-content: flex-start;
    }
}

/* ================================
   MAX 1024px (TABLET)
   ================================ */
@media (max-width: 1024px) {
    .nav-bar {
        padding: 0.2rem 1rem !important;
    }

    /* Nascondi elementi Desktop */
    .left-header,
    .language-switcher,
    .nav-bar > a,
    .nav-bar label {
        display: none;
    }

    /* Center Header Adjustments */
    .center-header {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.5rem;
    }

    .center-header img {
        height: 2rem;
    }

    /* Menu Button Layout */
    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }



    /* Tablet Buttons & Dividers */
    .tablet-button {
        display: flex;
    }

    .tablet-button button img {
        height: 1.2rem;
        margin-bottom: 0.3rem;
    }

    .menu-divider {
        flex-shrink: 0;
        margin: 0 0.62rem;
    }
}

/* ================================
   MAX 767px (MOBILE)
   ================================ */
@media (max-width: 767px) {
    .nav-button span,
    .nav-bar > .nav-button > span {
        display: none;
    }

    .nav-button{
       padding: 0.5rem;
    }

    .center-header img {
        height: 1.8rem;
    }

    .menu-button {
        margin-left: 0;
    }
}