* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Il telecomando che scala tutto il sito */
    font-size: clamp(13px, 0.8rem + 0.4vw, 16px);
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: #fff;
}