:root {
    --brand-black: #000000;
    --brand-white: #ffffff;
    --brand-accent: #f1bd39;
    --brand-accent-hover: #d9a82d;
    --brand-live: #bc0000;
    --ui-event-blue: #3675af;
    --ui-bg-soft: #f9f9f9;
    --brand-divider: #333333;
    --ui-border-light: #eeeeee;
    --ui-border-medium: #dddddd;
    --brand-hover-light: rgba(255, 255, 255, 0.15);
    --text-dark: #1a1a1a;
    --text-muted: #bab7b7;
    --brand-blue-footer: #2c333a;
    --ui-text-muted-dark: #686868;
    --event-color: #f4f9fb;

    --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-narrow: "Arial Narrow", sans-serif;
    --font-serif: "Times New Roman", Times, serif;
    --font-serif-alt: 'Georgia', serif;

}

/* Reset Base */
* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: clamp(13px, 0.8rem + 0.4vw, 16px); overflow-x: clip; }
body { width: 100%; min-height: 100vh; background-color: var(--brand-white);

    font-family: var(--font-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

:root:has(#menu-toggle:checked),
:root:has(#services-toggle:checked) {
    overflow: hidden ;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
